header {
	font-family: 'Poppins', Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
	color: #000000;
}
.upper {
	border-top: 8px #D3D3D3 solid;
	border-bottom: 8px #D3D3D3 solid;
	text-align: center;
	color: #000000;
}
article {
	float: left;
	display: inline-block;
	box-sizing: border-box;
	width: 10%;
	text-align: left;
	margin: 15px;
	position: relative;
	left: 455px;

}
article p{
	font-family: 'Lato', Arial, sans-serif;
}
article h1 {
	font-size: 1.6em;
	margin: 5px;
}
section h3, article h1, footer h3 {
	font-family: 'Poppins', Helvetica, sans-serif;
}

.clr {
	clear: left;
}
h1 i {
	color: #D3D3D3;
}
h3 i{
	color: #780000; 
}
footer h3, p{
	display: inline;	
}
footer p{
	margin-left: 5px;
	color: #C0C0C0;
}
footer {
	text-align: center;
	margin: 60px;
}	